.staff-pg{
    background-color: #424348;
    display: flex;
    justify-content: center;
    height: 120px;
}
.staff-header{
    font-size: 2rem;
    background-color:orange;
    box-shadow: 0px 4px 31px 0px #cacacc52;
    display: flex;
    justify-content: center;
    color: white;
}

.staff-details{
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.staff-details h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.staff-details p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: lighter;
    font-family:'Raleway', sans-serif;
}

.staff-images{
    display: flex;
    justify-content:space-around;
    padding: 0 2%;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    object-fit: fill;
    
}

.staff-imagez{
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 3% 0 0;
    margin: 0;
    margin-bottom: 30px;
}

.staff-images img{
    width: 200px;
    height: 200px;
    gap:20px;
    border-radius: 200px;
    background-color: whitesmoke;
    z-index: 2;
}

.staff-detailz{
    padding: 2% 0;
    background-color: #ffc107;
    width: 280px;
    height: 100px;
    border-radius: 10px;
}

.staff-detailz h1{
    font-size: 1.2rem;
}

.staff-detailz p{
    font-size: 1rem;
    color: blue;
    font-weight: bolder;
}

.staff-btn{
    text-align: center;
    margin-top: 50px;
}

.staff-btn button{
    text-align: center;
    width: 350px;
    background-color: black;
    color: white;
    box-shadow: 1px  2px 1px 1px rgb(143, 98, 30);
}

.staff-btn button:hover{
    background-color: #ffc107;
    box-shadow: 1px  2px 1px 1px black;
    color: black;
}



/* RESPONSIVE */

@media screen and (max-width:600px) {
    .staff-header h1{
        font-size: 2rem;
        margin-top: 50px;
    }
 
    .staff-details{
        width: 80%;
        text-align:start;
    }
    
    .staff-details p{
        width: 100%;
        line-height: 1.7rem;
    }
    .staff-images{
       display: grid;
       justify-content: center;

    }
    .staff-imagez{
        width: 100%;
    }

    .staff-imagez img{
        object-fit:fill;
        padding: 10%;
    }

    .staff-detailz{
        border-radius: 20px;
    }

    .staff-btn button{
        width: 250px;
    }
    
}