.privacy-pg{
    background-color: #424348;
    display: flex;
    justify-content: center;
    height: 120px;
}
.privacy-header{
    font-size: 2rem;
    background-color:orange;
    box-shadow: 0px 4px 31px 0px #cacacc52;
    display: flex;
    justify-content: center;
    color: white;
}

.privacy-details{
    width: 80%;
    margin: 0 auto;
}

.privacy-details li{
    list-style-type: disc;
    word-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family:'Raleway', sans-serif;

}
.privacy-details p{
    word-spacing: 0.2rem;
    font-size: 1.2rem;
    font-family:'Raleway', sans-serif;
    margin-bottom: 30px;
}


/* RESPONSIVE */

@media screen and (max-width:600px) {
    
    .privacy-header h1{
        font-size: 1.5rem;
        margin-top: 70px;
    }
}