.contact-details-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #424348;
    color: white;
    position: fixed;
    justify-content: space-around;
    z-index: 2;
}

.m-phone, .m-email {
    display: flex;
    align-items: center;
    gap: 5px;
}

.j-d-navbar{
    width: 80%;
    margin: 3% auto;
    height: 100px;
    background-color: white;
    box-shadow: 0px 3.43px 3.43px 0px #0000003D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navigation-bar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.navigation-logo{
    display: flex;
}

.navigation-logo:before,
.navigation-logo:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: #abca1f;
    border-radius:50%;
    z-index: -1;
    opacity: 0.2;
}
.navigation-logo:before{
    animation: pulse 2s ease-out infinite;
}
.navigation-logo:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}

.navigation-logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.logo-exit{
    display: none;
}
.navigation-items  {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    text-align: center;
}

.navigation-items p{
    color: black;
    padding: 13px;
    width: 100px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bolder;
}

.navigation-items p:hover{
    background-color: #ffc107;
    color:white;
    transition: 0.5s ease-in;
    box-shadow: 1px 2px 1px 1px black;

}

.navigation-items a{
    text-decoration: none;
}

.nav-bar.active{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: ease-in .5s;
}

.nav-menu{
    display: none;
}


@media screen and (max-width: 1000px){

    .m-phone p, .m-email p{
        font-size: 11px;
        letter-spacing: 0.05rem;
    }
    .opt2{
        display: none;
    }
    
    .j-d-navbar{
        margin: 50px auto;
 
    }
    
    .navigation-items{
        display: none;
    }
    
    .nav-menu {
        display: flex;
        justify-content: flex-end;
        margin-top: -80px;
        padding: 0 5%; 
        cursor: pointer;
    }
    .show{
        display:none;
        background-color: white;       
    }

    .nav-menu a{
        text-decoration: none;
    }

    .links{
        background-color: #ffc107;
        top: -150px;
        position: relative;
        width: 100%;
        padding-right: 200px;
        transition: .5s ease-in-out;
    }

    .link p{
        padding:4% 20px ;
        font-size: 1.0rem;
        width: 100px;
        color: white;
    }
    
    .link p:hover{
        background-color: black;
        color:white;
        border-radius: 10px;
    }

    .exit{
        padding-top: 25%;
        display: flex;
        justify-content: flex-end;
    }


}



@media screen and (max-width: 500px){
    .links{
        width: 100%;
        padding-right: 100px;
    }
}
